extends layout

block content
    div
      h1= "Welcome to the Admin Console!"
    hr
    div#answer-list
      h1 Questions Answered:
      each answer in answers
          h3=answer.QuestionChoice.Question.question
          p=answer.QuestionChoice.questionChoice
          hr